<div class="bg-gray-700 text-white flex justify-center items-center space-x-8 py-3 fixed bottom-0 w-full">
    <div class="flex items-center space-x-2 border-r border-white pr-8">
        <img src="https://ds-prod.citroen.in/static-assets/ds-static/s3fs-public/2023-10/test-drive_0.svg?VwaQbwRotwHEY_sJoONqB6WQ7e_Rv6AJ"
            alt="Test Drive" class="w-5 h-5">
        <div>
            <p class="font-semibold text-sm">REQUEST A TEST DRIVE</p>
            <p class="text-xs">Click Here</p>
        </div>
    </div>

    <div class="flex items-center space-x-2 border-r border-white pr-8">
        <img src="https://ds-prod.citroen.in/static-assets/ds-static/s3fs-public/2024-08/Group%20360.png?CtRlQ8RGPRfz1Y_v90ImIWe3FBFnuiOz"
            alt="Brochure" class="w-5 h-5">
        <div>
            <p class="font-semibold text-sm">BROCHURE DOWNLOAD</p>
            <p class="text-xs">Search</p>
        </div>
    </div>

    <div class="flex items-center space-x-2 border-r border-white pr-8">
        <img src="https://ds-prod.citroen.in/static-assets/ds-static/s3fs-public/2023-10/check-price.svg?xlTiZanR89DbrtpkBfDuWBQCeq4w4Dov"
            alt="Price" class="w-5 h-5">
        <div>
            <p class="font-semibold text-sm">CHECK PRICE</p>
            <p class="text-xs">Check This Out</p>
        </div>
    </div>

    <div class="flex items-center space-x-2">
        <img src="https://ds-prod.citroen.in/static-assets/ds-static/s3fs-public/2023-10/online-book.svg?Bki.8eM0GMaAkHgLXjoC2x.eAC1vPz44"
            alt="Configure" class="w-5 h-5">
        <div>
            <p class="font-semibold text-sm">CONFIGURE & BOOK</p>
            <p class="text-xs">Click Here To Book</p>
        </div>
    </div>
</div>