<div id="ribbon" class="fixed bottom-0 right-0 left-0 translution-bar bg-gray-500 text-white py-3">
    <div class="container mx-auto">
        <div class="innerCont flex justify-center space-x-4">
            <ul class="flex space-x-4">
                <li>
                    <div class="wrapBox flex flex-row items-center border-r pr-8">
                        <span class="iconBox mb-2">
                            <img alt="Request A Test Drive" title="Request A Test Drive"
                                src="https://ds-prod.citroen.in/static-assets/ds-static/s3fs-public/2023-10/test-drive_0.svg?VwaQbwRotwHEY_sJoONqB6WQ7e_Rv6AJ"
                                class="w-8 h-8">
                        </span>
                        <a href="javascript:void(0);" class="text-center hover:text-gray-100 ml-4">
                            <span class="textInfo">
                                <h2 class="text-md font-semibold">Request A Test Drive</h2>
                                <p class="text-xs text-gray-300">Click Here</p>
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="wrapBox flex flex-row items-center border-r pr-8 pl-3">
                        <span class="iconBox mb-2">
                            <img alt="Brochure Download" title="Brochure Download"
                                src="https://ds-prod.citroen.in/static-assets/ds-static/s3fs-public/2024-08/Group%20360.png?CtRlQ8RGPRfz1Y_v90ImIWe3FBFnuiOz"
                                class="w-8 h-8">
                        </span>
                        <a href="javascript:void(0);" class="bb text-center hover:text-gray-300 ml-4">
                            <span class="textInfo">
                                <h2 class="text-md font-semibold">Brochure Download</h2>
                                <p class="text-xs text-gray-300">Search</p>
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="wrapBox flex flex-row items-center border-r pr-8 pl-3">
                        <span class="iconBox mb-2">
                            <img alt="Check Price" title="Check Price"
                                src="https://ds-prod.citroen.in/static-assets/ds-static/s3fs-public/2023-10/check-price.svg?xlTiZanR89DbrtpkBfDuWBQCeq4w4Dov"
                                class="w-8 h-8">
                        </span>
                        <a href="/Ex-showroom-prices" class="aa text-center hover:text-gray-300 ml-4">
                            <span class="textInfo">
                                <h2 class="text-md font-semibold">Check Price</h2>
                                <p class="text-xs text-gray-300">Check This Out</p>
                            </span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="wrapBox flex flex-row items-center pl-3">
                        <span class="iconBox mb-2">
                            <img alt="Configure & Book" title="Configure & Book"
                                src="https://ds-prod.citroen.in/static-assets/ds-static/s3fs-public/2023-10/online-book.svg?Bki.8eM0GMaAkHgLXjoC2x.eAC1vPz44"
                                class="w-8 h-8">
                        </span>
                        <a href="javascript:void(0);" class="text-center hover:text-gray-300 ml-4">
                            <span class="textInfo">
                                <h2 class="text-md font-semibold">Configure & Book</h2>
                                <p class="text-xs text-gray-300">Click Here To Book</p>
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>